.avatar {
  border-radius: 50%;
  width: 50px;
}

.friends {
  display: grid;
  width: 100%;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  overflow-wrap: anywhere;
  padding: 5px;
  box-sizing: border-box;
}

.text {
  font-size: 10px;
  margin: 0;
}

.sidebarTitle {
  color: black;
  text-decoration: underline;
}
