.nav {
  grid-area: n;
  background-image: linear-gradient(to right, grey, red);
  display: grid;
  justify-items: center;
  align-items: start;
  grid-auto-rows: min-content;
  grid-gap: 10px;
  font-size: 1.5em;
  border: 5px double black;
}

.item {
  color: black;
}

.active {
  color: gold;
}
