.app-wrapper {
  width: 1200px;
  display: grid;
  grid-template-rows: 150px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-areas:
    'h h'
    'n c';
  margin: 0 auto;
}

.header {
  grid-area: h;
  background-image: linear-gradient(black, white);
}

.header img {
  width: 100px;
}

.nav {
  grid-area: n;
  background-color: aqua;
}

.content {
  grid-area: c;
  background-color: blue;
  display: grid;
  grid-gap: 5px;
}

.content__header {
  object-fit: cover;
  width: 100%;
  height: 200px;
}
